# 还需运行Node/JavaScript/main.js，并且将访问反向代理socket与wechat目录的访问

Options +FollowSymlinks
RewriteEngine On
RewriteRule favicon.ico static/images/favicon.ico [L]
RewriteRule ^(index)?$ static/views/index/index.html [L]
RewriteRule ^admin$ static/views/admin/index.html [L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ "action.php/$1" [QSA,PT,L]