<div class="container">
  <div class="ui top attached fluid five item tabular menu">
    <a class="item" data-tab="putApp">发布</a>
    <a class="item" data-tab="editUser">改权</a>
    <a class="active item" data-tab="onlineUser">在线</a>
    <a class="item" data-tab="lastUser">最近</a>
    <a class="item" data-tab="client">APP</a>
  </div>
  <div class="ui bottom attached tab segment" data-tab="putApp">
    <form class="ui putApp form">
      <div class="field">
        <label>版本号</label>
        <input type="text" placeholder="安卓APP版本号" name="version" ng-model="putApp.version">
      </div>
      <div class="field">
        <label>APP介绍</label>
        <textarea name="intro" ng-model="putApp.intro"></textarea>
      </div>
      <div class="field">
        <label>APK上传</label>
        <input type="file" name="file" style="display:none" nv-file-select="" uploader="putApp.uploader">
        <input class="pointer" type="text" placeholder="选择APK" ng-model="putApp.name" onclick="document.getElementsByName('file')[0].click()" readonly>
      </div>
      <div class="ui positive submit button" ng-class="{loading:putApp.loading}">发布APP</div>
    </form>
    <div class="ui warning message" ng-if="putApp.error" ng-bind="putApp.error"></div>
  </div>
  <div class="ui bottom attached tab segment" data-tab="editUser">
    <form class="ui editUser form">
      <div class="field">
        <label>学号</label>
        <input type="text" placeholder="请输入学号" name="studentId" ng-model="editUser.studentId">
      </div>
      <div class="field">
        <label>权限</label>
        <select class="ui rank dropdown" name="rank">
          <option value="-1">禁用</option>
          <option value="1">查个人</option>
          <option value="2">查全班</option>
          <option value="3">查统计</option>
          <option value="9">管理员</option>
        </select>
      </div>
      <div class="ui positive submit button" ng-class="{loading:editUser.loading}">修改权限</div>
    </form>
    <div class="ui teal message" ng-if="editUser.error" ng-bind="editUser.error"></div>
  </div>
  <div class="ui active tab" data-tab="onlineUser">
    <div class="ui segment" ng-if="$root.onlineUser.error">
      <div class="ui warning message">
        <div class="header" ng-bind="$root.onlineUser.error"></div>
      </div>
    </div>
    <div class="animate" ng-if="!$root.onlineUser.error && $root.onlineUser.data">
      <table class="ui striped unstackable bottom attached table" style="border-top:none;margin-bottom:15px">
        <tr>
          <td class="center aligned">姓名</td>
          <td class="center aligned">权限</td>
          <td class="center aligned">时间</td>
          <td class="center aligned">窗口</td>
        </tr>
        <tr ng-repeat="item in $root.onlineUser.data | sortBy:time:false">
          <td class="center aligned" ng-bind="item.name"></td>
          <td class="center aligned" ng-bind="item.rank"></td>
          <td class="center aligned" ng-bind="item.time"></td>
          <td class="center aligned" ng-click="$root.sendMsg(item.name, item.studentId, item.rank)">
            {{item.count}} <i class="green comment icon"></i>
          </td>
        </tr>
      </table>
      <div class="positive fluid ui button" ng-click="$root.ws.send('&quot;clearOnlineUser&quot;')">清空在线用户</div>
    </div>
  </div>
  <div class="ui tab" data-tab="lastUser">
    <div class="ui segment" ng-if="userLogs.loading || userLogs.error">
      <div ng-include="'views/loading.html'" ng-if="userLogs.loading"></div>
      <div class="ui warning message" ng-if="!userLogs.loading && userLogs.error">
        <div class="header" ng-bind="userLogs.error"></div>
      </div>
    </div>
    <div class="animate" ng-if="!userLogs.loading && !userLogs.error && userLogs.lastUser">
      <table class="ui striped unstackable bottom attached table" style="border-top:none">
        <tr>
          <td class="center aligned">学号</td>
          <td class="center aligned">姓名</td>
          <td class="center aligned">时间</td>
          <td class="center aligned">次数</td>
        </tr>
        <tr ng-repeat="item in userLogs.lastUser">
          <td class="center aligned" ng-bind="item.studentId"></td>
          <td class="center aligned" ng-bind="item.name"></td>
          <td class="center aligned" ng-bind="item.time"></td>
          <td class="center aligned" ng-bind="item.count"></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="ui bottom attached tab segment" data-tab="client" style="border-top: none; margin: 0;">
    <div ng-if="userLogs.loading || userLogs.error">
      <div ng-include="'views/loading.html'" ng-if="userLogs.loading"></div>
      <div class="ui warning message" ng-if="!userLogs.loading && userLogs.error">
        <div class="header" ng-bind="userLogs.error"></div>
      </div>
    </div>
    <div class="animate" ng-if="!userLogs.loading && !userLogs.error && userLogs.client">
      <div class="ui vertical segment ng-scope" ng-repeat="item in userLogs.client">
        <h4 class="ui header ng-binding" ng-bind="item.name + '(' + item.studentId + ')'"></h4>
        <div class="ui selection list">
          <div class="item">
            <div class="ui teal horizontal label">版本</div>
            <span style="color:#333" ng-bind="'Hnust ' + item.version + ' / ' + item.system"></span>
          </div>
          <div class="item">
            <div class="ui green horizontal label">设备</div>
            <span style="color:#333" ng-bind="item.model + ' ' + item.resolution"></span>
          </div>
          <div class="item">
            <div class="ui orange horizontal label">网络</div>
            <span style="color:#333" ng-bind="item.network"></span>
          </div>
          <div class="item">
            <div class="ui red horizontal label">时间</div>
            <span style="color:#333" ng-bind="item.time"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>