<div class="container">
  <div class="ui top attached fluid two item tabular menu">
    <a class="active item" data-tab="editUser">修改权限</a>
    <a class="item" data-tab="lastUser">最近使用</a>
  </div>
  <div class="ui bottom attached active tab segment" data-tab="editUser">
    <form class="ui editUser form">
      <div class="field">
        <label>学号</label>
        <input type="text" placeholder="请输入学号" name="studentId" ng-model="editUser.studentId">
      </div>
      <div class="field">
        <label>权限</label>
        <select class="ui dropdown" name="rank">
          <option value="-1">禁用</option>
          <option value="1">查个人</option>
          <option value="2">查全班</option>
          <option value="3">查统计</option>
          <option value="9">管理员</option>
        </select>
      </div>
      <div class="ui positive submit button" ng-class="{loading:editUser.loading}">修改权限</div>
    </form>
    <div class="ui teal message" ng-if="editUser.error" ng-bind="editUser.error"></div>
  </div>
  <div class="ui tab" data-tab="lastUser">
    <div class="ui segment" ng-if="lastUser.loading || lastUser.error">
      <div ng-include="'views/loading.html'" ng-if="lastUser.loading"></div>
      <div class="ui warning message" ng-if="!lastUser.loading && lastUser.error">
        <div class="header" ng-bind="lastUser.error"></div>
      </div>
    </div>
    <table class="ui striped unstackable bottom attached table" style="border-top:none" ng-if="!lastUser.loading && !lastUser.error && lastUser.data && lastUser.data.length">
      <thead>
        <tr>
          <th class="center aligned">学号</th>
          <th class="center aligned">姓名</th>
          <th class="center aligned">时间</th>
          <th class="center aligned">次数</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in lastUser.data">
          <td class="center aligned" ng-bind="item.studentId"></td>
          <td class="center aligned" ng-bind="item.name"></td>
          <td class="center aligned" ng-bind="item.time"></td>
          <td class="center aligned" ng-bind="item.count"></td>
        </tr>
      </tbody>
    </table>
    <div class="ui warning message" ng-if="lastUser.data && !lastUser.data.length">
      <div class="header">无最近使用用户或权限不足</div>
    </div>
  </div>
</div>