<div class="container">
  <div class="ui top attached fluid two item tabular menu">
    <a class="active item" data-tab="me">我</a>
    <a class="item" data-tab="list">检索</a>
  </div>
  <div class="ui bottom attached active tab segment" data-tab="me">
    <div ng-include="'views/loading.html'" ng-if="person.loading"></div>
    <div class="ui warning message" ng-if="!person.loading && person.error">
      <div class="header" ng-bind="person.error"></div>
    </div>
    <div ng-if="!person.loading && !person.error && person.data">
      <div class="ui segment" ng-repeat="item in person.data track by $index">
        <h4 class="ui header" ng-bind="item.title"></h4>
        <div class="ui divided selection list">
          <div class="item">
            <div class="ui green horizontal label">
              <i class="barcode icon"></i> 条码
            </div>
            <span style="color:#333" ng-bind="item.barcode"></span>
          </div>
          <div class="item">
            <div class="ui teal horizontal label">
              <i class="wait outline icon"></i> 期限
            </div>
            <span style="color:#333" ng-bind="item.time"></span>
            <div class="circular ui icon orange mini button" style="padding: 5px 10px;" ng-click="renew(item)">
              <i class="history icon"></i> 续借
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui bottom attached tab segment" data-tab="list">
    <div class="ui form">
      <div class="field" style="padding-right:80px">
        <input type="text" placeholder="请输入关键词" ng-model="key">
      </div>
      <button class="ui submit positive search button" ng-click="search(key)">搜索</button>
    </div>
    <div ng-include="'views/loading.html'" ng-if="list.loading"></div>
    <div class="ui warning message" ng-if="!list.loading && list.error">
      <div class="header" ng-bind="list.error"></div>
    </div>
    <div ng-if="!list.loading && !list.error && list.data && list.data.length">
      <div class="ui styled fluid accordion" style="box-shadow: 0 0 2px rgba(39,41,43,.15);">
        <div ng-repeat="item in list.data">
          <div class="book title" ng-click="info(item)">
            <i class="dropdown icon"></i>
            <span ng-bind="item.title"></span>
          </div>
          <div class="content">
            <table class="ui teal striped unstackable attached bookList table" ng-if="item.data">
              <tr ng-show="item.data.ISBN">
                <td class="right aligned">ISBN</td>
                <td class="left aligned" ng-bind="item.data.ISBN"></td>
              </tr>
              <tr ng-show="item.data.publisher">
                <td class="right aligned">出版社</td>
                <td class="left aligned" ng-bind="item.data.publisher"></td>
              </tr>
              <tr ng-show="item.data.series">
                <td class="right aligned">丛编</td>
                <td class="left aligned" ng-bind="item.data.series"></td>
              </tr>
              <tr ng-show="item.data.intro">
                <td class="right aligned">简介</td>
                <td class="left aligned" ng-bind="item.data.intro"></td>
              </tr>
              <tr ng-show="item.data.statement">
                <td class="right aligned">说明</td>
                <td class="left aligned" ng-bind="item.data.statement"></td>
              </tr>
              <tr ng-show="item.data.unified_title">
                <td class="right aligned">题名</td>
                <td class="left aligned" ng-bind="item.data.unified_title"></td>
              </tr>
              <tr ng-show="item.data.describe">
                <td class="right aligned">形态</td>
                <td class="left aligned" ng-bind="item.data.describe"></td>
              </tr>
              <tr ng-show="item.data.author">
                <td class="right aligned">责任者</td>
                <td class="left aligned" ng-bind="item.data.author"></td>
              </tr>
              <tr ng-show="item.data.CLC">
                <td class="right aligned">分类号</td>
                <td class="left aligned" ng-bind="item.data.CLC"></td>
              </tr>
              <tr ng-show="item.data.subject">
                <td class="right aligned">主题</td>
                <td class="left aligned" ng-bind="item.data.subject"></td>
              </tr>
            </table>
            <div class="ui segment" ng-if="item.data.list">
              <div class="ui vertical segment" ng-repeat="per in item.data.list track by $index">
                <a class="ui left ribbon label" ng-class="{true: 'teal', false: 'red'}[per.state == '在架可借']" ng-bind="per.state"></a>
                <div class="ui divided selection list">
                  <div class="item">
                    <div class="ui orange horizontal label">
                      <i class="wait icon"></i> 条码号
                    </div>
                    <span style="color:#333" ng-bind="per.barcode"></span>
                  </div>
                  <div class="item">
                    <div class="ui green horizontal label">
                      <i class="book icon"></i> 索书号
                    </div>
                    <span style="color:#333" ng-bind="per.index"></span>
                  </div>
                  <div class="item">
                    <div class="ui teal horizontal label">
                      <i class="building icon"></i> 图书馆
                    </div>
                    <span style="color:#333" ng-bind="per.library"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="ui active centered inline text loader" ng-if="item.loading">正在努力加载数据...</div>
          </div>
        </div>
      </div>
      <div style="text-align: center;padding-top:20px" ng-if="list.info.page != 1 || list.data.length >= 15">
        <div class="ui buttons">
          <a class="ui orange button" ng-class="{disabled:list.info.page <= 1}" ng-click="search(list.info.key, list.info.page - 1)">
            <i class="left chevron icon"></i>上页
          </a>
          <div class="or"></div>
          <a class="ui green button active" ng-class="{disabled:list.data.length < 15}" ng-click="search(list.info.key, list.info.page - 1 + 2)">
            下页<i class="right chevron icon"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>