<div class="container" style="padding-bottom:10px">
  <div class="ui form">
    <div class="field" style="padding-right:80px">
      <input type="text" placeholder="请输入关键词" ng-model="key">
    </div>
    <button class="ui submit positive search button" ng-click="search(key)">搜索</button>
  </div>
</div>
<div ng-include="'views/loading.html'"></div>
<div class="container" style="padding-bottom:20px" ng-if="!$root.loading && !$root.error && data && data.length">
  <div class="ui styled fluid accordion">
    <div ng-repeat="item in data">
      <div class="book title" ng-click="bookInfo(item)">
        <i class="dropdown icon"></i>
        <span ng-bind="item.title"></span>
      </div>
      <div class="content">
        <table class="ui teal striped unstackable attached table" ng-if="item.data">
          <tr ng-show="item.data.ISBN">
            <td class="four wide right aligned">ISBN</td>
            <td class="twelve wide left aligned" ng-bind="item.data.ISBN"></td>
          </tr>
          <tr ng-show="item.data.publisher">
            <td class="four wide right aligned">出版社</td>
            <td class="twelve wide left aligned" ng-bind="item.data.publisher"></td>
          </tr>
          <tr ng-show="item.data.series">
            <td class="four wide right aligned">丛编</td>
            <td class="twelve wide left aligned" ng-bind="item.data.series"></td>
          </tr>
          <tr ng-show="item.data.intro">
            <td class="four wide right aligned">简介</td>
            <td class="twelve wide left aligned" ng-bind="item.data.intro"></td>
          </tr>
          <tr ng-show="item.data.statement">
            <td class="four wide right aligned">说明</td>
            <td class="twelve wide left aligned" ng-bind="item.data.statement"></td>
          </tr>
          <tr ng-show="item.data.unified_title">
            <td class="four wide right aligned">题名</td>
            <td class="twelve wide left aligned" ng-bind="item.data.unified_title"></td>
          </tr>
          <tr ng-show="item.data.describe">
            <td class="four wide right aligned">形态</td>
            <td class="twelve wide left aligned" ng-bind="item.data.describe"></td>
          </tr>
          <tr ng-show="item.data.author">
            <td class="four wide right aligned">责任者</td>
            <td class="twelve wide left aligned" ng-bind="item.data.author"></td>
          </tr>
          <tr ng-show="item.data.CLC">
            <td class="four wide right aligned">分类号</td>
            <td class="twelve wide left aligned" ng-bind="item.data.CLC"></td>
          </tr>
          <tr ng-show="item.data.subject">
            <td class="four wide right aligned">主题</td>
            <td class="twelve wide left aligned" ng-bind="item.data.subject"></td>
          </tr>
        </table>
        <div class="ui segment" ng-if="item.data.list">
          <div class="ui vertical segment" ng-repeat="per in item.data.list track by $index">
            <a class="ui left ribbon label" ng-class="{true: 'teal', false: 'red'}[per.state == '在架可借']" ng-bind="per.state"></a>
            <div class="ui divided selection list">
              <div class="item">
                <div class="ui orange horizontal label">
                  <i class="wait icon"></i> 条码号
                </div>
                <span style="color:#333" ng-bind="per.barcode"></span>
              </div>
              <div class="item">
                <div class="ui green horizontal label">
                  <i class="book icon"></i> 索书号
                </div>
                <span style="color:#333" ng-bind="per.index"></span>
              </div>
              <div class="item">
                <div class="ui teal horizontal label">
                  <i class="building icon"></i> 图书馆
                </div>
                <span style="color:#333" ng-bind="per.library"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="ui active centered inline text loader" ng-if="item.loading">正在努力加载数据...</div>
      </div>
    </div>
  </div>
  <div style="text-align: center;padding-top:20px">
    <div class="ui buttons">
      <a class="ui orange button" ng-class="{disabled:info.page <= 1}" ng-href="#/bookList?key={{info.key}}&page={{info.page - 1}}">
        <i class="left chevron icon"></i>上页
      </a>
      <div class="or"></div>
      <a class="ui green button active" ng-class="{disabled:data.length < 15}" ng-href="#/bookList?key={{info.key}}&page={{info.page - 1 + 2}}">
        下页<i class="right chevron icon"></i>
      </a>
    </div>
  </div>
</div>