<div ng-include="'views/loading.html'"></div>
<div class="container" ng-show="!$root.loading && !$root.error">
  <div class="ui positive message" ng-if="info">
    <div class="header">
      <div class="ui green horizontal label">
        余额<div class="detail" ng-bind="info.balance"></div>
      </div>
      <div class="ui horizontal label" ng-class="{true:'green', false:'orange'}[info.status != '挂失']">
        状态<div class="detail" ng-bind="info.status"></div>
      </div>
      <div class="ui orange horizontal pointer label" style="float:right" ng-click="card('cardLoss')" ng-if="info.status != '挂失'">挂失</div>
      <div class="ui green horizontal pointer label" style="float:right" ng-click="card('cardReLoss')" ng-if="info.status == '挂失'">解挂</div>
    </div>
  </div>
  <table class="ui teal celled striped unstackable attached table" ng-if="data && data.length">
    <thead>
      <tr>
        <th class="center aligned">交易时间</th>
        <th class="center aligned">交易额</th>
        <th class="center aligned">余额</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in data">
        <td class="center aligned" ng-bind="item.time"></td>
        <td class="center aligned" ng-bind="item.trade"></td>
        <td class="center aligned" ng-bind="item.balance"></td>
      </tr>
    </tbody>
  </table>
  <div class="ui teal message" ng-if="data && !data.length">
    <div class="header">您的一卡通最近无交易情况</div>
  </div>
</div>