<div class="container">
  <form class="ui attached fluid form segment">
    <div class="field">
      <label>教学楼</label>
      <div class="ui build selection dropdown">
        <input type="hidden" name="build">
        <div class="default text">请选择教学楼</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" data-value="{{item[0]}}" ng-bind="item[1]" ng-click="build = item[0]" ng-repeat="item in builds"></div>
        </div>
      </div>
    </div>
    <div class="field">
      <label>周次</label>
      <div class="ui week selection dropdown">
        <input type="hidden" name="week">
        <div class="default text">请选择周次</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" data-value="{{item[0]}}" ng-bind="item[1]" ng-repeat="item in weeks"></div>
        </div>
      </div>
    </div>
    <div class="field">
      <label>星期</label>
      <div class="ui day selection dropdown">
        <input type="hidden" name="day">
        <div class="default text">请选择周次</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" data-value="{{item[0]}}" ng-bind="item[1]" ng-repeat="item in days"></div>
        </div>
      </div>
    </div>
    <div class="field">
      <label>节次</label>
      <div class="two fields">
        <div class="field" style="width:50% !important;padding-right: .5em;">
          <div class="ui beginSession selection upward dropdown" style="min-width:100px">
            <input type="hidden" name="beginSession">
            <div class="default text">请选择开始节次</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item" data-value="{{item[0]}}" ng-bind="item[1]" ng-repeat="item in beginSessions"></div>
            </div>
          </div>
        </div>
        <div class="field" style="width:50% !important;padding-left: .5em;">
          <div class="ui endSession selection upward dropdown" style="min-width:100px">
            <input type="hidden" name="endSession">
            <div class="default text">请选择结束节次</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item" data-value="{{item[0]}}" ng-bind="item[1]" ng-repeat="item in endSessions" ng-if="!beginSession || item[0] >= beginSession"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui positive submit button" ng-class="{loading:$root.loading}">查询</div>
  </form>
  <div class="ui bottom attached error message" ng-if="$root.error && $root.error.length">
    <i class="info circle icon"></i> {{$root.error}}
  </div>
  <div class="ui segment" ng-if="!$root.loading && !$root.error && data">
    <h4 class="ui header">符合查询条件的空闲教室如下</h4>
    <div class="ui selection list">
      <div class="item" ng-repeat="item in data track by $index">
        <div class="ui fluid label">
          <i class="location arrow icon"></i>
          <span ng-bind="item"></span>
        </div>
      </div>
    </div>
  </div>
</div>