<div class="container">
  <form class="ui attached fluid form segment">
    <div class="field">
      <label>学号</label>
      <input type="number" placeholder="请输入学号" name="studentId" ng-model="studentId">
    </div>
    <div class="field">
      <label>权限</label>
      <select class="ui dropdown" name="rank">
        <option value="-1">禁用</option>
        <option value="1">查个人</option>
        <option value="9">管理员</option>
      </select>
    </div>
    <div class="ui positive submit button" ng-class="{loading:$root.loading}">修改权限</div>
  </form>
  <div class="ui bottom attached teal message" ng-if="$root.error && $root.error.length">
    <i class="info circle icon"></i> {{$root.error}}
  </div>
</div>