<div class="container">
  <div class="ui top attached fluid two item tabular menu">
    <a class="active item" data-tab="me">我</a>
    <a class="item" data-tab="list">选课</a>
  </div>
  <div class="ui bottom attached active tab segment" data-tab="me">
    <div ng-include="'views/loading.html'" ng-if="person.loading"></div>
    <div class="ui warning message" ng-if="!person.loading && person.error">
      <div class="header" ng-bind="person.error"></div>
    </div>
    <div ng-if="!person.loading && !person.error && person.courses">
      <h4 class="ui horizontal divider">
        <i class="list icon"></i> 已选列表
      </h4>
      <div class="ui vertical segment" ng-style="$last? {'box-shadow':'none'}:{}" ng-repeat="item in person.courses">
        <h4 class="ui header" style="padding-right:65px" ng-bind="item.course"></h4>
        <div class="ui orange button" style="position: absolute;right: 10px;top: 10px;padding: 0.5em 1.0em;" ng-click="action('退选 ' + item.course + ' ', item.url)">退</div>
        <div class="ui selection list">
          <div class="item">
            <div class="ui orange horizontal label">时间</div>
            <span style="color:#333" ng-bind="item.time"></span>
          </div>
          <div class="item">
            <div class="ui teal horizontal label">地点</div>
            <span style="color:#333" ng-bind="item.place"></span>
          </div>
          <div class="item">
            <div class="ui green horizontal label">老师</div>
            <span style="color:#333" ng-bind="item.teacher"></span>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="!person.loading && !person.error && person.logs">
      <h4 class="ui horizontal divider">
        <i class="history icon"></i> 选课队列
      </h4>
      <div class="ui divided selection list">
        <div class="item" ng-repeat="item in person.logs | sortBy:'upTime':false">
          <div style="display: table-cell;vertical-align: middle;min-width: 65px;">
            <div class="ui teal horizontal label" ng-if="!item.result">进行中</div>
            <div class="ui green horizontal label" ng-if="item.result">已完成</div>
          </div>
          <div class="content" style="display: table-cell;">
            <div class="header" ng-bind="item.title"></div>
            <div class="description" ng-bind="item.result"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui bottom attached tab segment" data-tab="list">
    <form class="ui form">
      <div class="field" style="padding-right:80px">
        <div class="ui fluid search selection dropdown active visible" autocomplete>
          <input type="hidden" name="key">
          <div class="default text"></div>
          <input class="search" placeholder="请输入课程名称" ng-model="key" ng-change="check(key)">
          <div class="menu" ng-click="dropdown('hide')">
            <div class="item" ng-repeat="item in keys track by $index" ng-bind="item" ng-click="search(item)"></div>
          </div>
        </div>
        <button class="ui positive search button" ng-click="search()">搜索</button>
      </div>
    </form>
    <div ng-include="'views/loading.html'" ng-if="list.loading"></div>
    <div class="ui warning message" ng-if="!list.loading && list.error">
      <div class="header" ng-bind="list.error"></div>
    </div>
    <div ng-if="!list.loading && !list.error && list.data">
      <div class="ui vertical segment" ng-repeat="item in list.data">
        <h4 class="ui header" style="padding-right:65px" ng-bind="item.course"></h4>
        <div class="ui teal button" style="position: absolute;right: 10px;top: 10px;padding: 0.5em 1.0em;" ng-click="action('选修 ' + item.course + ' ', item.url)">选</div>
        <div class="ui selection list">
          <div class="item">
            <div class="ui green horizontal label">时间</div>
            <span style="color:#333" ng-bind="item.time"></span>
          </div>
          <div class="item">
            <div class="ui teal horizontal label">地点</div>
            <span style="color:#333" ng-bind="item.place"></span>
          </div>
          <div class="item">
            <div class="ui orange horizontal label">其他</div>
            <span style="color:#333" ng-bind="'余量：' + item.remain + '/' + item.total"></span>
            <span style="color:#333;margin-left:10px" ng-bind="'挂科率：' + ((item.rate == -1)? '未知': ((item.rate | number:2) + '%'))"></span>
          </div>
        </div>
      </div>
      <div style="text-align: center;padding-top:20px" ng-if="list.info.totalPage > 1">
        <div class="ui buttons">
          <a class="ui orange button" ng-class="{disabled:list.info.page <= 1}" ng-click="search(key, list.info.page - 1)">
            <i class="left chevron icon"></i>上页
          </a>
          <div class="or"></div>
          <a class="ui green button active" ng-class="{disabled:list.info.page == list.info.totalPage}" ng-click="search(key, list.info.page - 1 + 2)">
            下页<i class="right chevron icon"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>