<div class="container">
  <form class="ui form">
    <div class="field" style="padding-right:80px">
      <div class="ui fluid search selection dropdown active visible" autocomplete>
        <input type="hidden" name="key">
        <div class="default text"></div>
        <input class="search" placeholder="请输入课程名称" ng-model="key" ng-change="check(key)">
        <div class="menu" ng-click="dropdown('hide')">
          <div class="item" ng-repeat="item in keys track by $index" ng-bind="item" ng-click="search(item)"></div>
        </div>
      </div>
      <button class="ui positive search button" ng-click="search()">搜索</button>
    </div>
  </form>
  <div ng-include="'views/loading.html'" ng-if="loading"></div>
  <div class="ui warning message" ng-if="!loading && error">
    <div class="header" ng-bind="error"></div>
  </div>
  <div class="animate" style="padding-top:20px" ng-if="!loading && !error && data && data.length">
    <div class="ui segment" ng-repeat="item in data | sortBy:'rate':false">
      <h4 class="ui header" ng-bind="item.name"></h4>
      <div class="ui green horizontal label" style="width:28%;max-width:120px" ng-bind="'总计' + item.all"></div>
      <div class="ui red horizontal label" style="width:25%;max-width:120px" ng-bind="'挂科' + item.fail"></div>
      <div class="ui teal horizontal label" style="width:38%;max-width:150px" ng-bind="'挂科率' + (item.rate | number:2) + '%'"></div>
      <div class="ui bottom attached progress" ng-class="progressColor(item.rate)" data-percent="{{item.rate | number:0}}">
        <div class="bar"></div>
      </div>
    </div>
  </div>
</div>