<div ng-include="'views/loading.html'"></div>
<div class="container" ng-show="!$root.loading && !$root.error">
  <table class="ui teal celled striped unstackable attached table" ng-if="data && data.length">
    <thead>
      <tr>
        <th class="center aligned">学号</th>
        <th class="center aligned">姓名</th>
        <th class="center aligned">时间</th>
        <th class="center aligned">次数</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in data">
        <td class="center aligned" ng-bind="item.studentId"></td>
        <td class="center aligned" ng-bind="item.name"></td>
        <td class="center aligned" ng-bind="item.time"></td>
        <td class="center aligned" ng-bind="item.count"></td>
      </tr>
    </tbody>
  </table>
  <div class="ui warning message" ng-if="data && !data.length">
    <div class="header">无最近使用用户或权限不足</div>
  </div>
</div>