<div class="container">
  <div class="ui teal message">您需要登录后才能访问。</div>
  <!-- 触发浏览器保存密码 -->
  <iframe name='iframe' style="display:none"></iframe> 
  <form class="ui attached fluid form segment" method="post" target="iframe">
    <input type="hidden" name="fun" value="iframe">
    <div class="field">
      <label>学号</label>
      <input type="text" style="font-size:1.1em" placeholder="请输入学号" name="studentId" ng-model="studentId">
    </div>
    <div class="field">
      <label>密码</label>
      <input type="password" style="font-size:1.1em" placeholder="教务网密码或身份证后6位" name="passwd" ng-model="passwd">
    </div>
    <div class="field">
      <div class="ui checkbox">
        <input type="checkbox" name="agreement" checked>
        <label>我同意</label>
      </div>
      <div style="display: inline-block;vertical-align: middle;">
        《<a href="#/agreement">用户使用协议</a>》
      </div>
    </div>
    <div class="positive ui submit button" ng-class="{loading:loading}">登录</div>
    <a class="ui bottom right attached label" ng-href="{{$root.url}}?fun=getApp&download" ng-show="$root.isClient == false">下载安卓客户端</a>
  </form>
  <div class="ui bottom attached warning message" ng-if="error">
    <i class="info circle icon"></i> {{error}}
  </div>
</div>