<div class="container">
  <div ng-include="'views/loading.html'" ng-if="loading"></div>
  <div class="ui warning message" ng-if="!loading && error">
    <div class="header" ng-bind="error"></div>
  </div>
  <div class="animate" ng-if="!loading && !error && data">
    <div class="ui positive message">
      <div class="header">
        <div class="ui inline dropdown">
          <div class="text" ng-bind="info.term[0]"></div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item" ng-href="#/schedule?term={{term}}" ng-bind="term" ng-repeat="term in info.term track by $index" ng-if="$index"></a>
          </div>
        </div>
        学期课表(<a ng-href="{{$root.url}}?fun=schedule&term={{info.term[0]}}&download=true"><i class="download icon"></i>下载 </a>)
      </div>
    </div>
    <div class="ui top attached fluid seven tabular item menu" id="week">
      <a class="item" data-tab="{{$index + 1}}" ng-repeat="day in ['周一','周二','周三','周四','周五','周六','周日']" ng-bind="day"></a>
    </div>
    <div class="ui bottom attached tab segment" data-tab="{{day}}" ng-repeat="day in [1,2,3,4,5,6,7]">
      <div class="ui info message" ng-if="!hasCourse(data[day])">
        今日无课。
      </div>
      <div class="ui vertical segment" ng-repeat="item in data[day] track by $index" ng-if="item.length">
        <div class="ui teal ribbon label" ng-bind="($index * 2 + 1) + '-' + ($index * 2 + 2) + '节课'"></div>
        <div class="ui divided relaxed list">
          <div class="item" ng-repeat="per in item track by $index">
            <div class="ui divided selection list">
              <div class="item">
                <div class="ui orange horizontal label">
                  <i class="wait icon"></i> 周次
                </div>
                <span style="color:#333" ng-bind="per.time"></span>
              </div>
              <div class="item">
                <div class="ui green horizontal label">
                  <i class="book icon"></i> 课程
                </div>
                <span style="color:#333" ng-bind="per.course"></span>
              </div>
              <div class="item">
                <div class="ui teal horizontal label">
                  <i class="building icon"></i> 教室
                </div>
                <span style="color:#333" ng-bind="per.classroom"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui blue message" ng-bind="info.remarks"></div>
  </div>
</div>