<div ng-include="'views/loading.html'"></div>
<div class="container" ng-show="!$root.loading && !$root.error">
  <div class="ui positive message">
    <a class="header"
       ng-href="{{$root.url}}?fun=scoreClass&course={{info.course}}&download"
       ng-bind="info.class + info.course + '（' + info.credit + '学分）'">
    </a>
  </div>
  <table class="ui three column teal striped unstackable attached table" style="margin-bottom:30px">
    <thead>
      <tr ng-init="name = 'score'; by = false">
        <th class="six wide center aligned">
          <span class="pointer" ng-click="by = (name == 'studentId')? !by:true; name = 'studentId';">
            学号 <i class="sort icon"></i>
          </span>
        </th>
        <th class="five wide center aligned">姓名</th>
        <th class="five wide center aligned">
          <span class="pointer" ng-click="by = (name == 'score')? !by:false; name = 'score';">
            分数 <i class="sort icon"></i>
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in data | sortBy:name:by" ng-class="{error: ((item.score < 60) || (item.score == '不及格') || !item.score)}">
        <td class="center aligned" ng-bind="item.studentId"></td>
        <td class="center aligned" ng-bind="item.name"></td>
        <td class="center aligned" ng-bind="item.score" ng-if="!item.resit"></td>
        <td class="center aligned" ng-if="item.resit">
          <span class="ui orange circular label" ng-bind="item.score"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>