<div ng-include="'views/loading.html'"></div>
<div class="container" ng-show="!$root.loading && !$root.error">
  <table class="ui five column teal striped unstackable attached table" style="margin-bottom:30px" ng-repeat="term in terms">
    <thead>
      <tr><th colspan="3" class="center aligned" ng-bind="'学年学期：' + term"></th></tr>
    </thead>
    <tbody>
      <tr>
        <td class="nine wide center aligned">科目</td>
        <td class="three wide center aligned">学分</td>
        <td class="four wide center aligned">分数</td>
      </tr>
      <tr ng-repeat="item in data[term] track by $index" ng-class="{error: ((item.mark < 60) || (item.mark == '不及格') || !item.mark)}">
        <td class="center aligned" ng-bind="item.course" ng-if="$root.user.rank < 2"></td>
        <td class="center aligned" ng-if="$root.user.rank >= 2">
          <a ng-href="#/scoreClass?course={{item.course}}" ng-bind="item.course"></a>
        </td>
        <td class="center aligned" ng-bind="item.credit"></td>
        <td class="center aligned" ng-bind="item.mark"></td>
      </tr>
    </tbody>
  </table>
</div>