<div ng-include="'views/loading.html'"></div>
<div class="container" ng-show="!$root.loading && !$root.error" style="padding-bottom:20px">
  <div class="ui segment">
    <h4 class="ui header">收费总计</h4>
    <div class="ui divided selection list">
      <div class="item">
        <div class="ui orange horizontal label">应缴</div>
        <span style="color:#333" ng-bind="total.payable"></span>
      </div>
      <div class="item">
        <div class="ui green horizontal label">退费</div>
        <span style="color:#333" ng-bind="total.returns"></span>
      </div>
      <div class="item">
        <div class="ui blue horizontal label">减免</div>
        <span style="color:#333" ng-bind="total.reduction"></span>
      </div>
      <div class="item">
        <div class="ui teal horizontal label">实缴</div>
        <span style="color:#333" ng-bind="total.paid"></span>
      </div>
      <div class="item">
        <div class="ui red horizontal label">欠缴</div>
        <span style="color:#333" ng-bind="total.owing"></span>
      </div>
    </div>
  </div>
</div>