<div class="container">
  <div ng-include="'views/loading.html'" ng-if="loading"></div>
  <div class="ui warning message" ng-if="!loading && error">
    <div class="header" ng-bind="error"></div>
  </div>
  <div class="animate" ng-if="!loading && !error && total">
    <div class="ui positive message">
      <div class="header" ng-bind="'您当前欠缴的学费为' + total.owing"></div>
    </div>
    <div class="ui flowing popup">
      <div class="ui divided selection list">
        <div class="item">
          <div class="ui orange horizontal label">应缴</div>
          <span style="color:#333" ng-bind="total.payable"></span>
        </div>
        <div class="item">
          <div class="ui green horizontal label">退费</div>
          <span style="color:#333" ng-bind="total.returns"></span>
        </div>
        <div class="item">
          <div class="ui blue horizontal label">减免</div>
          <span style="color:#333" ng-bind="total.reduction"></span>
        </div>
        <div class="item">
          <div class="ui teal horizontal label">实缴</div>
          <span style="color:#333" ng-bind="total.paid"></span>
        </div>
        <div class="item">
          <div class="ui red horizontal label">欠缴</div>
          <span style="color:#333" ng-bind="total.owing"></span>
        </div>
      </div>
    </div>
    <table class="ui teal striped unstackable attached table" ng-style="{'margin-bottom':$last? '0':'30px'}" ng-repeat="term in terms">
      <thead>
      <tr><th colspan="3" class="center aligned" ng-bind="'学年学期：' + term"></th></tr>
      </thead>
      <tbody>
        <tr>
          <td class="six wide center aligned">收费项目</td>
          <td class="five wide center aligned">应缴</td>
          <td class="five wide center aligned">欠缴</td>
        </tr>
        <tr ng-repeat="item in data[term] track by $index">
          <td class="center aligned" ng-bind="item.item"></td>
          <td class="center aligned" ng-bind="item.payable"></td>
          <td class="center aligned" ng-bind="item.owing"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>