<div class="container">
  <form class="ui attached fluid form segment">
    <h3 class="ui dividing header">个人中心</h3>
    <div class="field">
      <label>学号</label>
      <input type="text" name="id" ng-model="user.id" placeholder="您的学号" disabled>
    </div>
    <div class="field">
      <label>姓名</label>
      <input type="text" name="name" ng-model="user.name" placeholder="您的姓名" disabled>
    </div>
    <h4 class="ui horizontal divider">
      <i class="lock icon"></i> 权限
    </h4>
    <div class="field">
      <a class="ui green label" ng-if="user.rank >= 1">
        <i class="icon checkmark"></i>查个人
      </a>
      <a class="ui green label" ng-if="user.rank >= 2">
        <i class="icon checkmark"></i>查全班
      </a>
      <a class="ui green label" ng-if="user.rank >= 3">
        <i class="icon checkmark"></i>查统计
      </a>
      <a class="ui green label" ng-if="user.rank >= 9">
        <i class="icon checkmark"></i>管理
      </a>
    </div>
    <h4 class="ui horizontal divider">
      <i class="setting icon"></i> 设置
    </h4>
    <h5 class="ui header">成绩提醒</h5>
    <div class="field" ng-click="scoreRemind()">
      <div class="ui toggle checkbox">
        <input type="radio" name="scoreRemind">
        <label>有新成绩将会通知您</label>
      </div>
    </div>
    <div class="remind ui info message transition hidden">
      <div class="header">我们将通过以下的一种或多种方式通知您：</div>
      <p>网页弹窗、客户端通知栏、微信企业号主动消息、手机短信、电子邮件等。</p>
    </div>
    <div class="remind field transition hidden">
      <label>手机号码</label>
      <input type="text" name="phone" ng-model="user.phone" placeholder="常用手机号码">
    </div>
    <div class="remind field transition hidden">
      <label>邮箱地址</label>
      <input type="email" name="mail" ng-model="user.mail" placeholder="常用邮箱地址">
    </div>
    <div class="positive ui submit button" ng-class="{loading:loading}">保存</div>
  </form>
  <div class="ui bottom attached warning message" ng-if="error && error.length">
    <i class="info circle icon"></i> {{error}}
  </div>
</div>