<div class="statistic container">
  <div ng-include="'loading.html'" ng-if="loading"></div>
  <div class="ui warning message" ng-if="!loading && error">
    <div class="header" ng-bind="error"></div>
  </div>
  <div class="animate" ng-show="!loading && !error">
    <div class="ui top attached fluid four item tabular menu">
      <a class="active item" data-tab="sum">概略</a>
      <a class="item" data-tab="ip">IP</a>
      <a class="item" data-tab="key">关键词</a>
      <a class="item" data-tab="modules">模块</a>
    </div>
    <div class="ui active tab" data-tab="sum">
      <table class="ui striped unstackable bottom attached table" style="border-top:none">
        <tr>
          <td class="center aligned">日期</td>
          <td class="center aligned">总计</td>
          <td class="center aligned">404</td>
          <td class="center aligned">异常</td>
        </tr>
        <tr ng-repeat="item in sum | sortBy:'time':false">
          <td class="center aligned" ng-bind="item.time | cut:5:10"></td>
          <td class="center aligned" ng-bind="item.total"></td>
          <td class="center aligned" ng-bind="item.loss"></td>
          <td class="center aligned" ng-bind="item.error"></td>
        </tr>
      </table>
    </div>
    <div class="ui tab" data-tab="ip">
      <table class="ui striped unstackable bottom attached table" style="border-top:none">
        <tr>
          <td class="five wide center aligned">IP</td>
          <td class="eight wide center aligned">地点</td>
          <td class="three wide center aligned">计数</td>
        </tr>
        <tr ng-repeat="item in ip | sortBy:'count':false">
          <td class="center aligned" ng-bind="item.ip"></td>
          <td class="center aligned" ng-bind="item.location"></td>
          <td class="center aligned" ng-bind="item.count"></td>
        </tr>
      </table>
    </div>
    <div class="ui tab" data-tab="key">
      <table class="ui striped unstackable bottom attached table" style="border-top:none">
        <tr>
          <td class="twelve wide center aligned">关键词</td>
          <td class="four wide center aligned">计数</td>
        </tr>
        <tr ng-repeat="item in key | sortBy:'count':false | limitTo:15">
          <td class="center aligned" ng-bind="item.key"></td>
          <td class="center aligned" ng-bind="item.count"></td>
        </tr>
      </table>
      <a class="fluid ui teal button" href="javascript:void(0)" id="canvas-save" style="margin-top:15px" download="keys.png">查看更多</a>
      <canvas id="canvas" width="1000px" height="600px" style="display:none"></canvas>
    </div>
    <div class="ui tab" data-tab="modules">
      <table class="ui striped unstackable bottom attached table" style="border-top:none">
        <tr>
          <td class="center aligned">模块</td>
          <td class="center aligned">方法</td>
          <td class="center aligned">计数</td>
        </tr>
        <tr ng-repeat="item in modules | sortBy:'count':false">
          <td class="center aligned" ng-bind="item.module"></td>
          <td class="center aligned" ng-bind="item.method"></td>
          <td class="center aligned" ng-bind="item.count"></td>
        </tr>
      </table>
    </div>
  </div>
</div>