<div class="container">
  <div class="ui top attached three fluid item tabular menu">
    <a class="item" data-tab="add">添加</a>
    <a class="active item" data-tab="list">列表</a>
    <a class="item" data-tab="online">在线</a>
  </div>
  <div class="ui bottom attached tab segment" data-tab="add">
    <form class="ui add form">
      <div class="field">
        <label>用户</label>
        <input type="text" placeholder="待推送用户的学号" name="uid" ng-model="add.uid">
      </div>
      <div class="field">
        <label>类型</label>
        <div class="ui add fluid selection dropdown">
          <input type="hidden" name="mode">
          <i class="dropdown icon"></i>
          <div class="default text">推送类型</div>
          <div class="menu">
            <div class="item" data-value="{{type}}" ng-repeat="(type, title) in types" ng-bind="title"></div>
          </div>
        </div>
      </div>
      <div class="field">
        <label>标题</label>
        <input type="text" placeholder="标题栏显示的文字" name="title" ng-model="add.title">
      </div>
      <div class="field">
        <label>内容</label>
        <textarea placeholder="推送消息的内容" name="content" ng-model="add.content"></textarea>
      </div>
      <div class="field">
        <label>行为</label>
        <input type="text" placeholder="如跳转网页请输入网址(可填写相对地址)" name="success" ng-model="add.success">
      </div>
      <div class="ui positive submit button" ng-class="{loading:add.loading}">添加推送</div>
    </form>
    <div class="ui teal message" ng-if="add.error" ng-bind="add.error"></div>
  </div>
  <div class="ui bottom attached active tab segment" data-tab="list">
    <div class="ui list search form">
      <div class="field">
        <input type="text" placeholder="请输入关键词" ng-model="info.key">
      </div>
      <button class="ui submit positive button">筛选</button>
    </div>
    <div ng-include="'loading.html'" ng-if="loading"></div>
    <div class="ui warning message" ng-if="!loading && error">
      <div class="header" ng-bind="error"></div>
    </div>
    <div class="animate" ng-if="!loading && !error && data">
      <div class="ui positive message" ng-bind="'当前第' + info.page + '页,共' + info.pages + '页,总计' + info.nums + '条.'"></div>
      <div class="ui fluid list card" ng-class="{true:'green', false:'orange'}[item.received == 1]" ng-repeat="item in data | sortBy:'id':false">
        <div class="content">
          <div class="right floated" ng-bind="types[item.type]"></div>
          <div class="header" ng-bind="item.name + '（' + item.uid + '）'"></div>
          <div class="meta" ng-bind="item.time"></div>
          <div class="ui middle aligned list">
            <div class="item">
              <div class="break content" ng-bind="'标题：' + item.title"></div>
            </div>
            <div class="item">
              <div class="break content" ng-bind="'内容：' + item.content"></div>
            </div>
            <div class="item" ng-if="item.success">
              <div class="break content" ng-bind="'行为：' + item.success"></div>
            </div>
          </div>
        </div>
        <div class="extra content">
          <span class="left floated reset operate" ng-click="reset(item.id)">
            <i class="refresh icon"></i> 置为{{(item.received == 1)? '未':'已'}}读
          </span>
          <span class="right floated delete operate" ng-click="delete(item.id)">
            <i class="remove icon"></i> 删除推送
          </span>
        </div>
      </div>
      <paging style="margin-bottom:15px" page="info.page" page-size="info.per" total="info.nums" paging-action="list(info.key, page)"></paging>
    </div>
  </div>
  <div class="ui tab" data-tab="online">
    <div class="animate" ng-if="$root.onlineUser && $root.onlineUser.length">
      <table class="ui striped unstackable bottom attached table" style="border-top:none;">
        <tr>
          <td class="center aligned">姓名</td>
          <td class="center aligned">权限</td>
          <td class="center aligned">时间</td>
          <td class="center aligned">窗口</td>
        </tr>
        <tr ng-repeat="item in $root.onlineUser | sortBy:'time':true">
          <td class="center aligned" ng-bind="item.name"></td>
          <td class="center aligned" ng-bind="item.rank"></td>
          <td class="center aligned" ng-bind="item.time"></td>
          <td class="pointer center aligned" ng-click="$root.sendMsg(item.sid, item.name)">
            {{item.count}} <i class="green comment icon"></i>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
