<div class="container">
  <form class="ui search form">
    <div class="field">
      <div class="ui fluid search selection dropdown active visible" autocomplete>
        <input type="hidden" name="key">
        <div class="default text"></div>
        <input class="search" placeholder="请输入课程名称" ng-model="key" ng-change="check(key)">
        <div class="menu" ng-click="dropdown('hide')">
          <div class="item" ng-repeat="item in keys| limitTo:6" ng-bind="item" ng-click="search(item)"></div>
        </div>
      </div>
      <button class="ui positive button" ng-click="search()">搜索</button>
    </div>
  </form>
  <div ng-include="'loading.html'" ng-if="loading"></div>
  <div class="ui warning message" ng-if="!loading && error">
    <div class="header" ng-bind="error"></div>
  </div>
  <div class="animate" style="padding-top:20px" ng-if="!loading && !error && data.result">
    <div class="ui segment" ng-repeat="item in data.result">
      <h4 class="ui header" ng-bind="item.name"></h4>
      <div class="ui green horizontal label" style="width:28%;max-width:120px" ng-bind="'总计' + item.all"></div>
      <div class="ui red horizontal label" style="width:25%;max-width:120px" ng-bind="'挂科' + item.fail"></div>
      <div class="ui teal horizontal label" style="width:37%;max-width:150px" ng-bind="'挂科率' + (item.rate | number:2) + '%'"></div>
      <div class="ui bottom attached progress" ng-class="progressColor(item.rate)" data-percent="{{item.rate | number:0}}">
        <div class="bar" style="min-width: 0"></div>
      </div>
    </div>
    <paging style="margin-bottom:15px" page="data.page" page-size="data.per" total="data.total" paging-action="data.action(page)"></paging>
  </div>
</div>