<div class="container">
  <form class="ui attached fluid form segment">
    <div class="field">
      <label>教学楼</label>
      <select class="ui search dropdown" ng-model="build">
        <option class="item" value="{{item[0]}}" ng-selected="build == item[0]" ng-bind="item[1]" ng-repeat="item in builds"></option>
      </select>
    </div>
    <div class="field">
      <label>周次</label>
      <select class="ui search dropdown" ng-model="week">
        <option class="item" value="{{item[0]}}" ng-selected="week == item[0]" ng-bind="item[1]" ng-repeat="item in weeks"></option>
      </select>
    </div>
    <div class="field">
      <label>星期</label>
      <select class="ui search dropdown" ng-model="day">
        <option class="item" value="{{item[0]}}" ng-selected="day == item[0]" ng-bind="item[1]" ng-repeat="item in days"></option>
      </select>
    </div>
    <div class="field">
      <label>节次</label>
      <div class="two fields">
        <div class="field" style="width:50% !important;padding-right: .5em;">
          <select class="ui search dropdown" ng-model="beginSession" ng-change="endSession = beginSession" style="min-width:100px">
            <option class="item" value="{{item[0]}}" ng-selected="beginSession == item[0]" ng-bind="item[1]" ng-repeat="item in beginSessions"></option>
          </select>
        </div>
        <div class="field" style="width:50% !important;padding-left: .5em;">
          <select class="ui search dropdown" ng-model="endSession" style="min-width:100px">
            <option class="item" value="{{item[0]}}" ng-selected="endSession == item[0]" ng-bind="item[1]" ng-repeat="item in endSessions" ng-show="!beginSession || item[0] >= beginSession"></option>
          </select>
        </div>
      </div>
    </div>
    <div class="ui positive submit button" ng-class="{loading:loading}" ng-click="search()">查询</div>
  </form>
  <div class="ui bottom attached warning message" ng-if="error">
    <i class="info circle icon"></i> {{error}}
  </div>
  <div class="ui segment animate" ng-if="!loading && !error && data">
    <h4 class="ui header">符合查询条件的空闲教室如下</h4>
    <div class="ui selection list">
      <div class="item" ng-repeat="item in data track by $index">
        <div class="ui fluid label">
          <i class="location arrow icon"></i>
          <span ng-bind="item"></span>
        </div>
      </div>
    </div>
  </div>
</div>