<div class="container">
  <div others></div>
  <div ng-include="'static/views/index/loading.html'" ng-if="loading"></div>
  <div class="ui warning message" ng-if="!loading && error">
    <div class="header" ng-bind="error"></div>
  </div>
  <div class="animate" ng-if="!loading && !error && data">
    <div class="ui fluid teal card" style="margin-top: 0;" ng-if="item.sid == info.sid || !info.sid && !$index" ng-repeat="item in data">
      <div class="content">
        <div class="right floated">
          <div class="ui term dropdown">
            <div class="text" ng-bind="info.term"></div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item" ng-href="#/rank?scope={{info.scope}}&by={{info.by}}&term={{term}}&sid={{info.sid}}" ng-repeat="term in info.terms" ng-bind="term"></a>
            </div>
          </div>
        </div>
        <div class="header" ng-bind="item.name"></div>
        <div class="meta">
          <div class="ui scope dropdown">
            <div class="text" ng-bind="info.rankName"></div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item" ng-href="#/rank?scope=class&by={{info.by}}&term={{info.term}}&sid={{info.sid}}" ng-bind="info.class" ng-if="info.rankName != info.class"></a>
              <a class="item" ng-href="#/rank?scope=major&by={{info.by}}&term={{info.term}}&sid={{info.sid}}" ng-bind="info.major" ng-if="info.rankName != info.major"></a>
            </div>
          </div>
          <div class="ui scope dropdown">
            <div class="text" ng-bind="(info.by == 'term')? '学期':'学年'"></div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item" ng-href="#/rank?scope={{info.scope}}&by=term&term={{info.term}}&sid={{info.sid}}" ng-if="info.by != 'term'">学期</a>
              <a class="item" ng-href="#/rank?scope={{info.scope}}&by=year&term={{info.term}}&sid={{info.sid}}" ng-if="info.by != 'year'">学年</a>
            </div>
          </div>
        </div>
        <div class="ui divided relaxed list">
          <div class="item" ng-bind="'　班级排名：' + item.rank + ' / ' +  data.length" ng-if="info.scope == 'class'"></div>
          <div class="item" ng-bind="'　专业排名：' + item.rank + ' / ' +  data.length" ng-if="info.scope == 'major'"></div>
          <div class="item" ng-bind="'　得分合计：' + (item.countMark | number:2)"></div>
          <div class="item" ng-bind="'　平均得分：' + (item.avgMark | number:2)"></div>
          <div class="item" ng-bind="'　所得学分：' + (item.countCredit | number:2)"></div>
          <div class="item" ng-bind="'不及格门数：' + item.countFail + ' / ' + item.course.length"></div>
          <div class="item" ng-bind="'平均学分绩：' + (item.avgGpa | number:2)"></div>
          <div class="item" ng-bind="'均学分绩点：' + (item.avgPoint | number:2)"></div>
        </div>
      </div>
      <div class="extra content">
        <a style="color:#00b2f3;" ng-href="Student/rank?by={{info.by}}&scope={{info.scope}}&term={{info.term}}&sid={{info.sid}}&download=true">下载详情</a>
        <div class="right floated the pointer green next" style="color:#3DB658;" ng-click="next($index)">
          下一个 <i class="chevron circle right green icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>