<div class="container">
  <div class="ui top attached four fluid item tabular menu">
    <a class="item" data-tab="add">添加</a>
    <a class="item" data-tab="list">列表</a>
    <a class="active item" data-tab="online">在线</a>
    <a class="item" data-tab="last">最近</a>
  </div>
  <div class="ui bottom attached tab segment" data-tab="add">
    <form class="ui add form">
      <div class="field">
        <label>学号</label>
        <input type="text" placeholder="请输入学号" name="uid" ng-model="add.uid">
      </div>
      <div class="field">
        <label>权限</label>
        <div class="ui add fluid selection dropdown">
          <input type="hidden" name="rank">
          <i class="dropdown icon"></i>
          <div class="default text">请选择权限</div>
          <div class="menu">
            <div class="item" data-value="{{rank}}" ng-repeat="(rank, group) in rank2group" ng-bind="group"></div>
          </div>
        </div>
      </div>
      <div class="ui positive submit button" ng-class="{loading:add.loading}">添加用户</div>
    </form>
    <div class="ui teal message" ng-if="add.error" ng-bind="add.error"></div>
  </div>
  <div class="ui bottom attached tab segment" data-tab="list">
    <form class="ui form">
      <div class="field">
        <input type="text" placeholder="输入关键词筛选" ng-model="user.key" ng-change="user.action(user.key, 1)">
      </div>
    </form>
    <div class="ui fluid card" ng-class="{true:'green',false:'orange'}[item.error == 0]" ng-repeat="item in user.result track by $index">
      <div class="content">
        <div class="right floated">
          <div class="ui right pointing change dropdown">
            <div class="text" ng-bind="(item.rank == -1)? '冻结':rank2group[item.rank]"></div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item" ng-click="change(item.uid, -1)">冻结</div>
              <div class="item" ng-repeat="(rank, group) in rank2group" ng-click="change(item.uid, rank)" ng-bind="group"></div>
            </div>
          </div>
        </div>
        <div class="header">
          <span ng-bind="item.name" ng-if="item.error == 0"></span>
          <span ng-bind="item.name + '（' + item.state + '）'" ng-if="item.error != 0"></span>
          <span class="pointer" ng-click="$root.sendMsg(item.uid, item.name)">
            {{item.count}} <i class="green comment icon"></i>
          </span>
        </div>
        <div class="meta" ng-bind="item.uid + ' API调用' + item.apiCount + '次'"></div>
        <div class="ui middle aligned list">
          <div class="item">
            <div class="content" ng-bind="'登陆：' + item.loginTime"></div>
          </div>
          <div class="item">
            <div class="content" ng-bind="'注册：' + item.regTime"></div>
          </div>
        </div>
      </div>
      <div class="extra content">
        <span class="left floated reset operate" ng-click="reset(item.uid, item.name)">
          <i class="refresh icon"></i> 重置密码
        </span>
        <span class="left floated unlock operate" ng-click="unlock(item.uid)" ng-if="item.error != 0">
          <i class="unlock icon"></i> 解锁
        </span>
        <span class="right floated delete operate" ng-click="delete(item.uid, item.name)">
          <i class="remove icon"></i> 删除用户
        </span>
      </div>
    </div>
    <paging page="user.page" page-size="user.per" total="user.total" paging-action="user.action(user.key, page)"></paging>
  </div>
  <div class="ui active tab" data-tab="online">
    <div class="animate" ng-if="$root.onlineUser && $root.onlineUser.length">
      <table class="ui striped unstackable bottom attached table" style="border-top:none;">
        <tr>
          <td class="center aligned">姓名</td>
          <td class="center aligned">权限</td>
          <td class="center aligned">时间</td>
          <td class="center aligned">窗口</td>
        </tr>
        <tr ng-repeat="item in $root.onlineUser | sortBy:'time':true">
          <td class="center aligned" ng-bind="item.name"></td>
          <td class="center aligned" ng-bind="item.rank"></td>
          <td class="center aligned" ng-bind="item.time"></td>
          <td class="pointer center aligned" ng-click="$root.sendMsg(item.sid, item.name)">
            {{item.count}} <i class="green comment icon"></i>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="ui tab" data-tab="last">
    <table class="ui striped unstackable bottom attached table" style="border-top:none">
      <tr>
        <td class="center aligned">学号</td>
        <td class="center aligned">姓名</td>
        <td class="center aligned">时间</td>
        <td class="center aligned">次数</td>
      </tr>
      <tr ng-repeat="item in last">
        <td class="center aligned" ng-bind="item.uid"></td>
        <td class="center aligned" ng-bind="item.name"></td>
        <td class="center aligned" ng-bind="item.time | cut:5:16"></td>
        <td class="center aligned" ng-bind="item.count"></td>
      </tr>
    </table>
  </div>
</div>