.pointer {
  cursor: pointer;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

#menu-2 {
  z-index: 100;
  position: fixed;
  right: 50px;
  bottom: 50px;
}

#menu-2 .icon {
  cursor: pointer; 
  font-size: 1.2em;
  vertical-align: middle;
}

.left.item {
  padding-top: 14px !important;
  padding-bottom: 13px !important;
}

.right.menu .icon.item {
  font-size: 16px;
}

.agreement p {
  text-indent: 2em;
}

.search.button {
  position: absolute;
  top: 1px;
  right: 0px;
}

.book.title {
  font-weight: 500 !important;
  color: rgba(0,0,0,.8) !important;
}